#sec{
    background-color:lightpink;
    height: 50vh;
}
#btn{
    position: absolute;
    width: 130px;
    height: 40px;
    margin-left: 180px;
    margin-top:20px ;
}
.myTable{
    background-color: aquamarine;
    margin-top: 20px;
    
}
tr{
    padding-top: 10px;
}
